<!DOCTYPE html>
<html lang="en">

<head>
  {% if title %}
    <title>{{ title }} - nlp</title>
  {% else %}
    <title>nlp</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <header class="header">
    <img src="{{ url_for('static', filename='AIdvisor Logo.svg') }}" alt="AI'dvisor Logo" class="custom-logo">

    <h1>Welcome to Tulane's AI'dvisor!</h1>

    <img src="{{ url_for('static', filename='Tulane_University_Logo.svg.png') }}" alt="Tulane Logo" class="tulane-logo">

  </header>
  <!-- <hr>
 -->
  {% if form.errors %}
    <div class="form-errors">{{ form.errors }}</div>
  {% endif %}

  <form action="" method="post" novalidate>
    <div class="form-group">
        <div class="input-section">
          <h3>{{ form.input_field.label }}</h3>
          {{ form.input_field }}
        </div>
        
        <div class="controls">
          <button class="submit-button">{{ form.submit(class_="btn btn-primary") }}</button>
          <div class="toggle-switch">
            <input type="checkbox" id="search-toggle" name="search-mode" class="toggle-checkbox">
            <label for="search-toggle" class="toggle-label">
              <span class="switch-text-left">Program Expert</span> <!-- Text when toggle is left -->
              <span class="switch-text-right">Class Expert</span> <!-- Text when toggle is right -->
            </label>
          </div>
      </div>
      
      

    <div class="sample-questions">
      <h3>Try asking questions like:</h3>
      <ul>
        <li>What are the core requirements for a Computer Science major?</li>
        <li>How many credits are required for an Architecture major?</li>
        <li>Plan a freshmen year schedule for a student who is interested in psychology and math</li>
      </ul>
      <h3>Switch to class expert mode, and try:</h3>
      <ul>
        <li>What classes cover topics in Artificial Intelligence?</li>
        <li>What are some interactive discussion-based classes?</li>
        <!-- <li>Compare and contrast Course A with Course B?</li> -->
      </ul>
    </div>

    {% if response %}
      <div class="ai-response">
        <strong>AI Response:</strong> {{ response|safe }}
      </div>
    {% endif %}
  </form>
</body>
</html>
