/* Base layout and typography styles */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #e6e8f4;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding-bottom: 50px;
}

/* Header styles */
header {
  background: darkgreen;
  color: white;
  padding: 1.9rem 0;
  text-align: center;
  display: flex;
  justify-content: center; /* Changed to space-between for logos on each end */
  align-items: center;
  position: relative;
}

.tulane-logo,
.custom-logo { /* Apply the same style rules to both logos */
  /*height: 90px; /* Match the height of the logos */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tulane-logo {
  right: 40px;
  height: 110px;
}

.custom-logo {
  left: 40px; /* Align to the left with the same spacing as the Tulane logo on the right */
  height: 135px;
}

header::after {
  content: '';
  position: absolute;
  bottom: 25px;
  height: 10px;
  background-image: linear-gradient(to right, rgba(86, 80, 42, 0), rgba(255, 223, 0, 0.75), rgba(86, 80, 42, 0));
  width: 90%;
}


/* Form styles */
form {
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

/* Shared input styles */
input[type='text'], .submit-button, .toggle-switch {
  border-radius: 4px;
  /* padding: 0.75rem;
  margin-bottom: 1rem; */
}

/* Input field styles */
input[type='text'] {
  width: calc(100% - 1.5rem);
  padding: 1rem; /* Increased padding */
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem; /* Adjust font size as needed */
  height: 50px; /* Increased height */
}


/* Button styles */
.submit-button {
  background-color: darkgreen;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* Adjust font size as needed */
  height: 50px; /* Specify the height to match the input field */
  padding: 1rem 2rem; /* Provide sufficient padding horizontally */
  width: auto; /* Allow the button to size width according to its content and padding */
  /* margin-bottom: 1rem; Maintain bottom margin */
}

/* Ensure that the submit input inside the button fills it completely */
.submit-button input[type='submit'] {
  height: 100%; /* Full height of the parent button */
  width: 100%; /* Full width of the parent button */
  border: 0; /* No border */
  padding: 0; /* No padding to override parent button padding */
  background: none; /* No background to override parent button background */
  color: inherit; /* Inherit text color from parent button */
}

/* Hover effect for the button */
.submit-button:hover, .submit-button input[type='submit']:hover {
  background-color: #005500; /* Darker shade on hover */
}

/* Toggle switch styles */
.toggle-switch {
  margin-left: 75px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Width of your toggle switch */
  height: 34px; /* Height of your toggle switch */
}

.toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  width: inherit;
  height: inherit;
  background: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.toggle-label::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background: #4CAF50;
}

.toggle-checkbox:checked + .toggle-label::before {
  transform: translateX(26px);
}

.switch-text-left, .switch-text-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.switch-text-left {
  left: 70px;
}

.switch-text-right {
  right: 70px;
}

.toggle-checkbox:checked ~ .toggle-label .switch-text-left,
.toggle-checkbox:not(:checked) ~ .toggle-label .switch-text-right {
  display: none;
}

/* Error message styles */
.flashes, .form-errors {
  padding: 1rem;
  background: lightyellow;
  border-left: 5px solid gold;
  margin: 1rem auto;
  width: 80%;
  color: darkred;
}

/* Response box styles */
.ai-response {
  background-color: #fff;
  border-left: 5px solid #4e8d7c;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  width: 80%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 1rem;
}

.ai-response strong {
  color: #005500;
  font-weight: bold;
}

.ai-response a {
  color: #00796b;
  text-decoration: underline;
}

.ai-response a:hover {
  color: #005500;
  text-decoration: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Media queries for responsive layouts */
@media (min-width: 1024px) {
  .form-group {
    flex-direction: row;
    align-items: flex-start;
  }

  .input-section {
    flex: 3;
  }
}
